        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        body, html {
            height: 100%;
        }

        /* Vídeo em tela cheia atrás de tudo */
        #bg-video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #0f172a; /* fallback */
            color: white;
        }

        .container {
            position: relative;
            z-index: 1;
            width: 300px;
            padding: 25px;
            border-radius: 20px;
            border: 2px solid rgba(255,255,255,0.6);
            backdrop-filter: blur(15px);
            background: rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        h2 {
            margin-bottom: 20px;
        }

        input {
            margin-top: 10px;
            width: 100%;
            padding: 10px 0;
            background: transparent;
            border: none;
            border-bottom: 2px solid white;
            color: white;
            outline: none;
            font-size: 14px;
        }

        button {
            margin-top: 20px;
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border-radius: 25px;
            border: none;
            background: white;
            color: black;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
        }

        button:hover {
            background: #ddd;
        }

        a {
            margin-top: 20px;
            font-size: 14px;
            color: rgb(136, 136, 222);
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .texto {
            margin-top: 15px;
        }